.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  margin: 10px;

}

body {
  background-color: #393E46;

}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}


.but{
  text-align: center;
}
.but button{
  width: 121px;
  height: 48px;
  font-size: 24px;
  margin-top: 15px;
}
.but button:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}
@media (max-width: 981px){
  h1{
    font-size: 4rem;
  }
  .container{
    width: 75%;
  }
}
.dicecontainer{
  display: flex;
  justify-content: center;
}
@media (max-width: 479px){
  h1{
    font-size: 2.2rem;
  }
}